## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## panosse

# Ignore executables
panosse
panosse.exe

# Ignore output files made by GoReleaser
dist/

# Ignore FLAC files
*.flac

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini
